# Data Cleaning - Movies Dataset

## Loading and inspecting dataset

In [578]:
import pandas as pd
pd.options.display.max_columns = 30

df = pd.read_csv('movies_metadata2.csv', low_memory=False)
df

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,poster_path
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,<img src='http://image.tmdb.org/t/p/w185//uXDf...
1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,<img src='http://image.tmdb.org/t/p/w185//vgpX...
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,<img src='http://image.tmdb.org/t/p/w185//1FSX...
3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,<img src='http://image.tmdb.org/t/p/w185//4wjG...
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,<img src='http://image.tmdb.org/t/p/w185//lf9R...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,<img src='http://image.tmdb.org/t/p/w185//pfC8...
45462,45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,<img src='http://image.tmdb.org/t/p/w185//xZkm...
45463,45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,<img src='http://image.tmdb.org/t/p/w185//eGga...
45464,45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,<img src='http://image.tmdb.org/t/p/w185//aorB...
45465,45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,<img src='http://image.tmdb.org/t/p/w185//oxFE...

In [579]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   adult                  45466 non-null  object
 2   belongs_to_collection  4494 non-null   object
 3   budget                 45466 non-null  object
 4   genres                 45466 non-null  object
 5   homepage               7782 non-null   object
 6   id                     45466 non-null  object
 7   imdb_id                45449 non-null  object
 8   original_language      45455 non-null  object
 9   original_title         45466 non-null  object
 10  overview               44512 non-null  object
 11  popularity             45461 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  poster_path            44496 non-null  object
dtypes: float64(4), int64(1), object(20)
memory usage: 8.7+ MB

In [580]:
df.belongs_to_collection[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [581]:
type(df.belongs_to_collection[0])

str

In [582]:
df.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [583]:
df.spoken_languages[0]

"[{'iso_639_1': 'en', 'name': 'English'}]"

## Dropping irrelevant Columns

In [584]:
df.columns

Index(['Unnamed: 0', 'adult', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'poster_path'],
      dtype='object')

In [585]:
df.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [586]:
df.drop(axis=1, columns =['adult', 'imdb_id', 'original_title', 'video', 'homepage'], inplace=True)

In [587]:
df.columns

Index(['Unnamed: 0', 'belongs_to_collection', 'budget', 'genres', 'id',
       'original_language', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'poster_path'],
      dtype='object')

## Handling stringified JSON columns

In [588]:
import json
import ast

In [589]:
json_columns = ['belongs_to_collection', 'genres', 'production_companies',
       'production_countries', 'spoken_languages']

In [590]:
df.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [591]:
json_1 = df.genres[0]
json_1

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [592]:
df.genres.apply(lambda x: ast.literal_eval(x))[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [593]:
df.genres = df.genres.apply(lambda x: ast.literal_eval(x))

In [594]:
type(df.belongs_to_collection[1])

float

In [595]:
df.belongs_to_collection.apply(lambda x: isinstance(x, str))

0         True
1        False
2         True
3        False
4         True
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: belongs_to_collection, Length: 45466, dtype: bool

In [596]:
import numpy as np
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: ast.literal_eval(x)
                                                          if isinstance(x, str) else np.nan)

In [597]:
df.belongs_to_collection[0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [598]:
json_columns[2:5]

['production_companies', 'production_countries', 'spoken_languages']

In [599]:
for column in json_columns[2:5]:
    df[column] = df[column].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)
    print(df[column][0])

[{'name': 'Pixar Animation Studios', 'id': 3}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_639_1': 'en', 'name': 'English'}]

In [600]:
df.production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [601]:
df.production_countries[0]

[{'iso_3166_1': 'US', 'name': 'United States of America'}]

## Flattening nested Columns

In [602]:
df.belongs_to_collection[0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [603]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [604]:
df.belongs_to_collection

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
45461                               NaN
45462                               NaN
45463                               NaN
45464                               NaN
45465                               NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [605]:
df.belongs_to_collection.value_counts(dropna=False)

NaN                              40975
The Bowery Boys                     29
Totò Collection                     27
James Bond Collection               26
Zatôichi: The Blind Swordsman       26
                                 ...
Glass Tiger collection               1
Kathleen Madigan Collection          1
The Big Bottom Box                   1
Joséphine - Saga                     1
Red Lotus Collection                 1
Name: belongs_to_collection, Length: 1696, dtype: int64

In [606]:
df.genres[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [607]:
df.genres = df.genres.apply(lambda x: "|".join(i['name'] for i in x))

In [608]:
df.genres[0]

'Animation|Comedy|Family'

In [609]:
df.genres.value_counts(dropna=False).head(20)

Drama                   5000
Comedy                  3621
Documentary             2723
                        2442
Drama|Romance           1301
Comedy|Drama            1135
Horror                   974
Comedy|Romance           930
Comedy|Drama|Romance     593
Drama|Comedy             532
Horror|Thriller          528
Drama|Thriller           497
Thriller                 465
Crime|Drama              430
Romance|Drama            343
Western                  318
Action|Thriller          301
Drama|Foreign            283
Action                   278
Drama|History            267
Name: genres, dtype: int64

In [610]:
df.genres.replace("", np.nan, inplace=True)

In [611]:
df.genres.value_counts(dropna=False).head(20)

Drama                   5000
Comedy                  3621
Documentary             2723
NaN                     2442
Drama|Romance           1301
Comedy|Drama            1135
Horror                   974
Comedy|Romance           930
Comedy|Drama|Romance     593
Drama|Comedy             532
Horror|Thriller          528
Drama|Thriller           497
Thriller                 465
Crime|Drama              430
Romance|Drama            343
Western                  318
Action|Thriller          301
Drama|Foreign            283
Action                   278
Drama|History            267
Name: genres, dtype: int64

In [612]:
df.spoken_languages = df.spoken_languages.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [613]:
df.spoken_languages.value_counts(dropna=False).head(20)

English             22395
                     3952
Français             1853
日本語                  1289
Italiano             1218
Español               902
Pусский               807
Deutsch               762
English|Français      681
English|Español       572
हिन्दी                481
English|Deutsch       462
한국어/조선말               425
普通话                   347
English|Italiano      326
svenska               311
No Language           303
suomi                 275
Português             275
Polski                213
Name: spoken_languages, dtype: int64

In [614]:
df.spoken_languages.replace("", np.nan, inplace=True)

In [615]:
df.spoken_languages.value_counts(dropna=False).head(20)

English             22395
NaN                  3958
Français             1853
日本語                  1289
Italiano             1218
Español               902
Pусский               807
Deutsch               762
English|Français      681
English|Español       572
हिन्दी                481
English|Deutsch       462
한국어/조선말               425
普通话                   347
English|Italiano      326
svenska               311
No Language           303
Português             275
suomi                 275
Polski                213
Name: spoken_languages, dtype: int64

In [616]:
df.production_countries

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [617]:
df.production_countries = df.production_countries.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [618]:
df.production_countries.value_counts(dropna=False).head(20)

United States of America                   17851
                                            6282
United Kingdom                              2238
France                                      1654
Japan                                       1356
Italy                                       1030
Canada                                       840
Germany                                      749
India                                        735
Russia                                       735
United Kingdom|United States of America      569
South Korea                                  432
Spain                                        398
Hong Kong                                    365
Canada|United States of America              365
Australia                                    336
Sweden                                       332
Finland                                      271
France|Italy                                 235
Germany|United States of America             214
Name: production_countries, dtype: int64

In [619]:
df.production_countries.replace("", np.nan, inplace=True)

In [620]:
df.production_countries.value_counts(dropna=False).head(20)

United States of America                   17851
NaN                                         6288
United Kingdom                              2238
France                                      1654
Japan                                       1356
Italy                                       1030
Canada                                       840
Germany                                      749
India                                        735
Russia                                       735
United Kingdom|United States of America      569
South Korea                                  432
Spain                                        398
Hong Kong                                    365
Canada|United States of America              365
Australia                                    336
Sweden                                       332
Finland                                      271
France|Italy                                 235
Germany|United States of America             214
Name: production_countries, dtype: int64

In [621]:
df.production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [622]:
df.production_companies = df.production_companies.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [623]:
df.production_companies.value_counts(dropna=False).head(20)

                                          11875
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Universal Pictures                          320
RKO Radio Pictures                          247
Columbia Pictures Corporation               207
Columbia Pictures                           146
Mosfilm                                     145
Walt Disney Pictures                         85
Universal International Pictures (UI)        82
New Line Cinema                              75
Walt Disney Productions                      75
Shaw Brothers                                71
Touchstone Pictures                          70
Toho Company                                 65
TriStar Pictures                             62
Orion Pictures                               61
Hammer Film Productions                      60
Name: production_companies, dtype: int64

In [624]:
df.production_companies.replace("", np.nan, inplace=True)

df.production_companies.value_counts(dropna=False).head(20)

NaN                                       11881
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Universal Pictures                          320
RKO Radio Pictures                          247
Columbia Pictures Corporation               207
Columbia Pictures                           146
Mosfilm                                     145
Walt Disney Pictures                         85
Universal International Pictures (UI)        82
Walt Disney Productions                      75
New Line Cinema                              75
Shaw Brothers                                71
Touchstone Pictures                          70
Toho Company                                 65
TriStar Pictures                             62
Orion Pictures                               61
Hammer Film Productions                      60
Name: production_companies, dtype: int64

In [625]:
df.isna().sum()

Unnamed: 0                   0
belongs_to_collection    40975
budget                       0
genres                    2442
id                           0
original_language           11
overview                   954
popularity                   5
production_companies     11881
production_countries      6288
release_date                87
revenue                      6
runtime                    263
spoken_languages          3958
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
poster_path                970
dtype: int64

In [626]:
pd.read_csv('movies_metadata.csv', low_memory=False).isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## Cleaning Numerical Columns

In [627]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 43024 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45461 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45379 non-null  object
 11  revenue                45460 non-null  float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
 19  poster_path            44496 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 6.9+ MB

In [628]:
df.budget = pd.to_numeric(df.budget, errors='coerce')

In [629]:
df.budget.value_counts(dropna=False)

0.0           36573
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
              ...
9750000.0         1
7275000.0         1
78146652.0        1
280.0             1
1254040.0         1
Name: budget, Length: 1224, dtype: int64

In [630]:
df.budget.replace(0, np.nan, inplace=True)

In [631]:
df.budget = df.budget.div(1000000)

In [632]:
df.budget.value_counts(dropna=False)

NaN           36576
5.000000        286
10.000000       259
20.000000       243
2.000000        242
              ...
270.000000        1
0.000923          1
72.500000         1
2.160000          1
1.254040          1
Name: budget, Length: 1223, dtype: int64

In [633]:
df.revenue.replace(0, np.nan, inplace=True)

In [634]:
df.revenue = df.revenue.div(1000000)

In [635]:
df.revenue.value_counts(dropna=False)

NaN          38058
12.000000       20
11.000000       19
10.000000       19
2.000000        18
             ...
36.565280        1
0.439564         1
35.610100        1
10.217873        1
1.413000         1
Name: revenue, Length: 6863, dtype: int64

In [636]:
df.rename(columns= {'budget': 'budget_musd', 'revenue': 'revenue_musd'}, inplace=True)

In [637]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4491 non-null   object
 2   budget_musd            8890 non-null   float64
 3   genres                 43024 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45461 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45379 non-null  object
 11  revenue_musd           7408 non-null   float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
 19  poster_path            44496 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 6.9+ MB

In [638]:
df.runtime.value_counts(dropna=False).head(20)

90.0     2556
0.0      1558
100.0    1470
95.0     1412
93.0     1214
96.0     1104
92.0     1080
94.0     1062
91.0     1057
88.0     1032
97.0     1027
85.0     1024
98.0     1019
105.0    1002
89.0      958
87.0      919
110.0     850
86.0      846
99.0      794
102.0     791
Name: runtime, dtype: int64

In [639]:
df.runtime.replace(0, np.nan, inplace=True)

In [640]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4491 non-null   object
 2   budget_musd            8890 non-null   float64
 3   genres                 43024 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45461 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45379 non-null  object
 11  revenue_musd           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
 19  poster_path            44496 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 6.9+ MB

In [641]:
df.id.value_counts(dropna=False).head(20)

141971    3
168538    2
25541     2
15028     2
11115     2
84198     2
13209     2
77221     2
152795    2
12600     2
10991     2
42495     2
14788     2
18440     2
105045    2
159849    2
22649     2
4912      2
132641    2
110428    2
Name: id, dtype: int64

In [642]:
df[df.id == '141971']

,Unnamed: 0,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,poster_path
13261,13261,NaN,NaN,Thriller|Mystery,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0,<img src='http://image.tmdb.org/t/p/w185//loPW...
13375,13375,NaN,NaN,Thriller|Mystery,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0,<img src='http://image.tmdb.org/t/p/w185//loPW...
16764,16764,NaN,NaN,Thriller|Mystery,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,Filmiteollisuus Fine,Finland,2008-12-26,NaN,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0,<img src='http://image.tmdb.org/t/p/w185//loPW...

In [643]:
pd.to_numeric(df.id, errors='coerce')

0           862.0
1          8844.0
2         15602.0
3         31357.0
4         11862.0
           ...
45461    439050.0
45462    111109.0
45463     67758.0
45464    227506.0
45465    461257.0
Name: id, Length: 45466, dtype: float64

In [644]:
df.popularity = pd.to_numeric(df.popularity, errors='coerce')

In [645]:
df.popularity.value_counts(dropna=False).head(20)

0.000000    66
0.000001    56
0.000308    43
0.000220    40
0.000844    38
0.000578    38
0.001177    38
0.002001    28
0.003013    21
0.001393    19
0.003530    19
0.036471    18
0.002353    18
0.000603    16
0.001586    15
0.004425    14
0.001021    13
0.000431    13
0.004706    12
0.001247    11
Name: popularity, dtype: int64

In [646]:
df.vote_count.value_counts(dropna=False).head(20)

1.0     3264
2.0     3132
0.0     2899
3.0     2787
4.0     2480
5.0     2097
6.0     1747
7.0     1570
8.0     1359
9.0     1194
10.0    1171
11.0     944
12.0     859
13.0     733
14.0     700
15.0     674
16.0     601
17.0     554
18.0     497
20.0     463
Name: vote_count, dtype: int64

In [647]:
df.vote_average.value_counts(dropna=False).head(20)

0.0    2998
6.0    2468
5.0    2001
7.0    1886
6.5    1722
6.3    1603
5.5    1381
5.8    1369
6.4    1350
6.7    1342
6.8    1324
6.1    1281
6.6    1263
6.2    1253
5.9    1196
5.3    1082
5.7    1046
6.9    1037
5.6    1006
7.3    1000
Name: vote_average, dtype: int64

In [648]:
df.loc[df.vote_count == 0, "vote_average"]

83       0.0
107      0.0
126      0.0
132      0.0
137      0.0
        ...
45432    0.0
45434    0.0
45452    0.0
45464    0.0
45465    0.0
Name: vote_average, Length: 2899, dtype: float64

In [649]:
df.loc[df.vote_count == 0, "vote_average"] = np.nan

In [650]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4491 non-null   object
 2   budget_musd            8890 non-null   float64
 3   genres                 43024 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45460 non-null  float64
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45379 non-null  object
 11  revenue_musd           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           42561 non-null  float64
 18  vote_count             45460 non-null  float64
 19  poster_path            44496 non-null  object
dtypes: float64(6), int64(1), object(13)
memory usage: 6.9+ MB

### Cleaning DateTime Columns

In [651]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4491 non-null   object
 2   budget_musd            8890 non-null   float64
 3   genres                 43024 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45460 non-null  float64
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45379 non-null  object
 11  revenue_musd           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           42561 non-null  float64
 18  vote_count             45460 non-null  float64
 19  poster_path            44496 non-null  object
dtypes: float64(6), int64(1), object(13)
memory usage: 6.9+ MB

In [652]:
df.release_date = pd.to_datetime(df.release_date, errors='coerce')

In [653]:
df.release_date.value_counts(dropna=False).head(20)

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
2002-01-01     96
2004-01-01     90
NaT            90
2001-01-01     84
2003-01-01     76
1997-01-01     69
2010-01-01     68
1998-01-01     67
1999-01-01     67
2000-01-01     64
1987-01-01     63
1988-01-01     63
1994-01-01     61
1989-01-01     60
2011-01-01     56
Name: release_date, dtype: int64

In [654]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4491 non-null   object
 2   budget_musd            8890 non-null   float64
 3   genres                 43024 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45460 non-null  float64
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45376 non-null  datetime64[ns]
 11  revenue_musd           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           42561 non-null  float64
 18  vote_count             45460 non-null  float64
 19  poster_path            44496 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(12)
memory usage: 6.9+ MB

## Cleaning Text / String Columns

In [655]:
df.original_language.value_counts(dropna=False).head(20)

en    32269
fr     2438
it     1529
ja     1350
de     1080
es      994
ru      826
hi      508
ko      444
zh      409
sv      384
pt      316
cn      313
fi      297
nl      248
da      225
pl      219
tr      150
cs      130
el      113
Name: original_language, dtype: int64

In [656]:
df.title.value_counts(dropna=False).head(20)

Cinderella              11
Alice in Wonderland      9
Hamlet                   9
Les Misérables           8
Beauty and the Beast     8
Treasure Island          7
A Christmas Carol        7
The Three Musketeers     7
Blackout                 7
Home                     6
Macbeth                  6
The Journey              6
The Hunters              6
The Forest               6
Mother                   6
Countdown                6
Love                     6
The Stranger             6
Heidi                    6
Bluebeard                6
Name: title, dtype: int64

In [657]:
df.overview.value_counts(dropna=False).head(20)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              954
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   5
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         3
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                                                                                                                                                                                                                                     3
Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
Released                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3
In a hospital, ten soldiers are being treated for a mysterious sleeping sickness. In a story in which dreams can be experienced by others, and in which goddesses can sit casually with mortals, a nurse learns the reason why the patients will never be cured, and forms a telepathic bond with one of them.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     2
The ghost of a samurai's wife takes revenge on her husband.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        2
East-Berlin, 1961, shortly after the erection of the Wall. Konrad, Sophie and three of their friends plan a daring escape to Western Germany. The attempt is successful, except for Konrad, who remains behind. From then on, and for the next 28 years, Konrad and Sophie will attempt to meet again, in spite of the Iron Curtain. Konrad, who has become a reputed Astrophysicist, tries to take advantage of scientific congresses outside Eastern Germany to arrange encounters with Sophie. But in a country where the political police, the Stasi, monitors the moves of all suspicious people (such as Konrad's sister Barbara and her husband Harald), preserving one's privacy, ideals and self-respect becomes an exhausting fight, even as the Eastern block begins its long process of disintegration.                                                2
Funny, entertaining comedy with a few storylines. All of them have one thing in common - a resort town of Rimini in Italy.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2
Two literary women compete for 20 years: one writes for the critics; the other one, to get rich.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2
All your favorite Pokémon characters are back, and are joined for the first time by the legendary Pokémon Celebi and Suicune, in this latest exciting Pokémon adventure! In order to escape a greedy Pokémon hunter, Celebi must use the last of its energy to travel through time to the present day. Celebi brings along Sammy, a boy who had been trying to protect it. Along with Ash, Pikachu, and the rest of the gang, Sammy and Celebi encounter an enemy far more advanced than the hunter left behind in the past. This new enemy possesses a Pokéball called a “Dark Ball,” which transforms the Pokémon it captures into evil and far stronger creatures. When Celebi is captured, the fate of the entire forest is threatened. Let POKÉMON 4EVER transport you to a world of adventure as Ash, Suicune and the rest take action to save the day!      2
Ten years into a marriage, the wife is disappointed by the husband's lack of financial success, meaning she has to work and can't treat herself and the husband finds the wife slovenly and mean-spirited: she neither cooks not cleans particularly well and is generally disagreeable. In turn, he alternately ignores her and treats her as a servant. Neither is particularly happy, not helped by their unsatisfactory lodgers. The husband is easily seduced by an ex-colleague, a widow with a small child who needs some security, and considers leaving his wife.                                                                                                                                                                                                                                                                                         2
Mary, a writer working on a novel about a love triangle, is attracted to her publisher. Her suitor Jimmy is determined to break them up; he introduces Mary to the publisher's wife without telling Mary who she is.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
Count de Chagnie has discovered Christine's singing talent on a market place and sent her to his friend Carriere, the director of the Parisian opera. However just when she arrives Carriere's dismissed. His arrogant successor refuses to let a woman of low birth sing in his opera, but graciously employs Christine as gadrobiere for his wife Charlotta, who's installed as first singer. He also fights the phantom, an unknown guy who lives since many years in the catacombs below the opera and was granted privileges by Carriere. However the phantom knows how to defend himself and at the same time helps Christine to her career.                                                                                                                                                                                                                 2
As an ex-gambler teaches a hot-shot college kid some things about playing cards, he finds himself pulled into the world series of poker, where his protégé is his toughest competition.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
Name: overview, dtype: int64

In [658]:
df.overview.replace("No overview found.", np.nan, inplace=True)

In [659]:
df.overview.replace("No Overview", np.nan, inplace=True)

In [660]:
df.overview.replace(" ", np.nan, inplace=True)

In [661]:
df.overview.replace("No movie overview available.", np.nan, inplace=True)

In [662]:
df.overview.replace(" ", np.nan, inplace=True)

In [663]:
df.tagline.value_counts(dropna=False).head(20)

NaN                                                           25054
Based on a true story.                                            7
Trust no one.                                                     4
Be careful what you wish for.                                     4
-                                                                 4
Classic Albums                                                    3
Some doors should never be opened.                                3
A Love Story                                                      3
Drama                                                             3
Know Your Enemy                                                   3
Which one is the first to return - memory or the murderer?        3
How far would you go?                                             3
The end is near.                                                  3
There is no turning back                                          3
There are two sides to every love story.                          3
Documentary                                                       3
Who is John Galt?                                                 3
Revenge Has No Limits                                             2
Who's next?                                                       2
It's never too late.                                              2
Name: tagline, dtype: int64

In [664]:
df.tagline.replace("-", np.nan, inplace=True)

## Removing Duplicates

In [665]:
df[df.duplicated(keep=False)].sort_values(by='id').head(10)

Empty DataFrame
Columns: [Unnamed: 0, belongs_to_collection, budget_musd, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue_musd, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, poster_path]
Index: []

In [666]:
df.drop_duplicates(inplace=True)

In [667]:
df[df.duplicated(subset='id', keep=False)].sort_values(by='id').head(10)

,Unnamed: 0,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,poster_path
676,676,NaN,NaN,Drama|Romance,105045,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,Studio Babelsberg|Centre National de la Cinéma...,Germany,1995-02-16,NaN,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,5.0,1.0,<img src='http://image.tmdb.org/t/p/w185//5WFI...
1465,1465,NaN,NaN,Drama|Romance,105045,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,Studio Babelsberg|Centre National de la Cinéma...,Germany,1995-02-16,NaN,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,5.0,1.0,<img src='http://image.tmdb.org/t/p/w185//5WFI...
44821,44821,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991,ja,When Molly Hale's sadness of her father's disa...,6.480376,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,2000-07-08,68.411275,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,6.0,144.0,<img src='http://image.tmdb.org/t/p/w185//g2C9...
4114,4114,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991,ja,When Molly Hale's sadness of her father's disa...,10.264597,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,2000-07-08,68.411275,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,6.0,143.0,<img src='http://image.tmdb.org/t/p/w185//g2C9...
5710,5710,NaN,NaN,Drama,109962,en,Two literary women compete for 20 years: one w...,12.180836,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,1981-09-23,NaN,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,4.9,7.0,<img src='http://image.tmdb.org/t/p/w185//9nuZ...
20899,20899,NaN,NaN,Drama,109962,en,Two literary women compete for 20 years: one w...,10.396878,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,1981-09-23,NaN,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,4.9,7.0,<img src='http://image.tmdb.org/t/p/w185//9nuZ...
23534,23534,NaN,3.512454,Drama,110428,fr,"Winter, 1915. Confined by her family to an asy...",0.110065,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,2013-03-13,0.115860,95.0,Français,Released,NaN,Camille Claudel 1915,7.0,20.0,<img src='http://image.tmdb.org/t/p/w185//x0Qj...
4356,4356,NaN,3.512454,Drama,110428,fr,"Winter, 1915. Confined by her family to an asy...",0.134014,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,2013-03-13,0.115860,95.0,Français,Released,NaN,Camille Claudel 1915,7.0,20.0,<img src='http://image.tmdb.org/t/p/w185//x0Qj...
24844,24844,NaN,NaN,Comedy|Drama,11115,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,Andertainment Group|Crescent City Pictures|Tag...,United States of America,2008-01-29,NaN,85.0,English,Released,NaN,Deal,5.2,22.0,<img src='http://image.tmdb.org/t/p/w185//oqbI...
14012,14012,NaN,NaN,Comedy|Drama,11115,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,Andertainment Group|Crescent City Pictures|Tag...,United States of America,2008-01-29,NaN,85.0,English,Released,NaN,Deal,5.2,22.0,<img src='http://image.tmdb.org/t/p/w185//oqbI...

In [668]:
df.drop_duplicates(subset='id', inplace=True)

In [669]:
df.id.value_counts(dropna=False)

862       1
40777     1
107308    1
16247     1
99904     1
         ..
44399     1
10138     1
32084     1
42191     1
461257    1
Name: id, Length: 45436, dtype: int64

## Handling Missing Values & Removing Observations

In [670]:
df.isna().sum()

Unnamed: 0                   0
belongs_to_collection    40948
budget_musd              36556
genres                    2442
id                           0
original_language           11
overview                  1102
popularity                   6
production_companies     11874
production_countries      6285
release_date                90
revenue_musd             38038
runtime                   1821
spoken_languages          3956
status                      87
tagline                  25039
title                        6
vote_average              2902
vote_count                   6
poster_path                969
dtype: int64

In [671]:
df[df.title.isna()]

,Unnamed: 0,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,poster_path
19729,19729,NaN,NaN,Action|Thriller|Drama,82663,en,British soldiers force a recently captured IRA...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19730,19730,NaN,NaN,Carousel Productions|Vision View Entertainment...,1997-08-20,104.0,Released,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,29502,Mardock Scramble Collection,NaN,Animation|Science Fiction,122662,ja,Third film of the Mardock Scramble series.,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,29503,NaN,NaN,Aniplex|GoHands|BROSTA TV|Mardock Scramble Pro...,2012-09-29,68.0,Released,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,35586,NaN,NaN,TV Movie|Action|Horror|Science Fiction,249260,en,A group of skiers are terrorized during spring...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,35587,NaN,NaN,Odyssey Media|Pulser Productions|Rogue State|T...,2014-01-01,82.0,Released,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [672]:
df.dropna(subset=['id', 'title'], inplace=True)

In [673]:
df.id= df.id.astype('int')

In [674]:
df.notna().sum(axis=1)

0        19
1        19
2        18
3        19
4        19
         ..
45461    15
45462    15
45463    17
45464    13
45465    13
Length: 45430, dtype: int64

In [675]:
df.notna().sum(axis=1).value_counts().sort_values(ascending=False)

16    12457
17    11404
15     5465
18     4259
19     3857
14     3061
13     1912
20     1132
12     1028
11      531
9       192
10       74
8        50
7         8
dtype: int64

In [676]:
df.loc[df.isna().sum(axis=1) == 6]

,Unnamed: 0,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,poster_path
50,50,NaN,NaN,Action|Thriller|Drama,117164,en,Detective - turned - bodyguard Cynthia McKay (...,0.595949,NaN,NaN,1994-11-22,NaN,93.0,NaN,Released,She's no angel of mercy.,Guardian Angel,6.3,3.0,<img src='http://image.tmdb.org/t/p/w185//AoRB...
55,55,NaN,NaN,NaN,124057,en,"Set in modern times, Alex finds King Arthur's ...",0.307075,Telefilm Canada|Melenny Productions,NaN,1997-07-08,NaN,89.0,English,Released,NaN,Kids of the Round Table,3.0,1.0,<img src='http://image.tmdb.org/t/p/w185//1y8K...
104,104,NaN,NaN,Drama|Comedy|Family,11907,de,NaN,1.015068,NaN,Germany,1994-11-07,NaN,104.0,Deutsch,Released,NaN,Nobody Loves Me,5.1,5.0,<img src='http://image.tmdb.org/t/p/w185//lnfM...
132,132,NaN,NaN,Music|Documentary,124636,en,Within days after the release of Negativland's...,0.001838,NaN,United States of America,1995-08-01,NaN,87.0,English,Released,NaN,Sonic Outlaws,NaN,0.0,<img src='http://image.tmdb.org/t/p/w185//fdJ6...
540,540,NaN,NaN,History|Drama|Romance,33367,en,Diane is a sophisticated trainee on the New Yo...,1.825468,NaN,NaN,1985-11-20,NaN,113.0,English,Released,NaN,Harem,4.0,4.0,<img src='http://image.tmdb.org/t/p/w185//4aeP...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45430,45430,NaN,NaN,Thriller|Science Fiction,222872,en,Sci-fi thriller directed by Fred Gallo.,1.188052,The Pacific Trust,United States of America,1996-01-01,NaN,NaN,NaN,Released,NaN,Starquest II,2.0,1.0,<img src='http://image.tmdb.org/t/p/w185//kYRu...
45447,45447,NaN,NaN,NaN,44324,fr,The background of this picture represents a sc...,0.213973,Star Film Company,France,1904-03-05,NaN,3.0,NaN,Released,NaN,The Untameable Whiskers,6.0,6.0,<img src='http://image.tmdb.org/t/p/w185//r3bn...
45448,45448,NaN,NaN,NaN,122036,fr,This shows a prince entering upon the stage of...,0.071782,Star Film Company,France,1904-01-01,NaN,2.0,NaN,Released,NaN,The Imperceptable Transmutations,5.0,2.0,<img src='http://image.tmdb.org/t/p/w185//ifWv...
45452,45452,NaN,NaN,Documentary,276895,en,"Deep Hearts is a film about the Bororo Fulani,...",0.011025,NaN,United States of America,1981-01-01,NaN,58.0,Fulfulde|English,Released,NaN,Deep Hearts,NaN,0.0,<img src='http://image.tmdb.org/t/p/w185//8jI4...
45457,45457,NaN,NaN,Mystery|Horror,390959,en,"In this true-crime documentary, we delve into ...",0.076061,NaN,NaN,2000-10-22,NaN,45.0,English,Released,NaN,Shadow of the Blair Witch,7.0,2.0,<img src='http://image.tmdb.org/t/p/w185//q75t...

In [677]:
df.dropna(thresh=10, inplace=True)

## Final steps

In [678]:
df.status.value_counts(dropna=False)

Released           44753
Rumored              226
Post Production       98
NaN                   66
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [679]:
df = df[df.status == 'Released'].copy()

In [680]:
df.status.value_counts(dropna=False)

Released    44753
Name: status, dtype: int64

In [681]:
df.drop(columns = 'status', inplace=True)

In [682]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
"original_language", "budget_musd", "revenue_musd", "production_companies",
"production_countries", "vote_count", "vote_average", "popularity", "runtime",
"overview", "spoken_languages", "poster_path"]

In [683]:
df = df.loc[:, col]

In [684]:
df.reset_index(drop=True, inplace=True)

In [685]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44753 entries, 0 to 44752
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44753 non-null  int64
 1   title                  44753 non-null  object
 2   tagline                20285 non-null  object
 3   release_date           44712 non-null  datetime64[ns]
 4   genres                 42591 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44743 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38838 non-null  object
 11  vote_count             44753 non-null  float64
 12  vote_average           42097 non-null  float64
 13  popularity             44753 non-null  float64
 14  runtime                43223 non-null  float64
 15  overview               43795 non-null  object
 16  spoken_languages       41097 non-null  object
 17  poster_path            44467 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(10)
memory usage: 6.1+ MB

In [686]:
df

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44748,439050,Subdue,Rising and falling between a man and woman,NaT,Drama|Family,NaN,fa,NaN,NaN,NaN,Iran,1.0,4.0,0.072051,90.0,Rising and falling between a man and woman.,فارسی,<img src='http://image.tmdb.org/t/p/w185//pfC8...
44749,111109,Century of Birthing,NaN,2011-11-17,Drama,NaN,tl,NaN,NaN,Sine Olivia,Philippines,3.0,9.0,0.178241,360.0,An artist struggles to finish his work while a...,NaN,<img src='http://image.tmdb.org/t/p/w185//xZkm...
44750,67758,Betrayal,A deadly game of wits.,2003-08-01,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,United States of America,6.0,3.8,0.903007,90.0,"When one of her hits goes wrong, a professiona...",English,<img src='http://image.tmdb.org/t/p/w185//eGga...
44751,227506,Satan Triumphant,NaN,1917-10-21,NaN,NaN,en,NaN,NaN,Yermoliev,Russia,0.0,NaN,0.003503,87.0,"In a small town live two brothers, one a minis...",NaN,<img src='http://image.tmdb.org/t/p/w185//aorB...
44752,461257,Queerama,NaN,2017-06-09,NaN,NaN,en,NaN,NaN,NaN,United Kingdom,0.0,NaN,0.163015,75.0,50 years after decriminalisation of homosexual...,English,<img src='http://image.tmdb.org/t/p/w185//oxFE...

df.poster_path[0]

base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df.poster_path = "<img src='" + base_poster_url + df.poster_path + "' style='height:100px;'>"

In [687]:
df.to_csv('movies_clean.csv', index=False)

In [688]:
pd.read_csv('movies_clean.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44753 entries, 0 to 44752
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44753 non-null  int64
 1   title                  44753 non-null  object
 2   tagline                20285 non-null  object
 3   release_date           44712 non-null  object
 4   genres                 42591 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44743 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38838 non-null  object
 11  vote_count             44753 non-null  float64
 12  vote_average           42097 non-null  float64
 13  popularity             44753 non-null  float64
 14  runtime                43223 non-null  float64
 15  overview               43795 non-null  object
 16  spoken_languages       41097 non-null  object
 17  poster_path            44467 non-null  object
dtypes: float64(6), int64(1), object(11)
memory usage: 6.1+ MB